body, html{
  width: 100%;
  height: 100%;
  background-color: #121421;
}

div{
  height: 1000px;
}

#container {
  with:100%;
  background: #000000;
  height: 100%;
  position: relative;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
}

#GameCanvas{
  border: 4px solid white;
  background-image: url("../images/space.jpg");
  background-size: cover;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h1{
  font-size: 36px;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 222px;
  height: 28px;
  left: 0;
  right: 0;
  display: none;
  font-family: sans-serif;
}
